<div class="slider-contaier" >

  <div class="anthor-head-img"><img src="../../assets/basketball.jpg" alt=""></div>
  <div class="anthor-name mt-20">Zeosky</div>
  <div class="anthor-signature mt-20">中了彩票我该怎么花呢</div>

  
</div>

<style> 
 .slider-contaier{
  width: 100%;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .anthor-head-img{
   width: 80px;
   height: 80px;
   margin-top: 80px;
   background-color: black;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #312d2d;
 }
 .anthor-head-img img{
   width: 90%;
   border-radius: 50%;
   transition: all 1s;
 }
 .anthor-head-img img:hover{
   transform:rotate(180deg)
 }
</style>